body
    button.sider-toggle-btn(onclick="toggleSidebar()") ☰

    #sider.sider
        .inner-menu
            ul
                li
                    a(href=`${prefixAdmin}/dashboard`)
                        span Tổng quan
                if(role.permissions.includes("products-category_view"))
                    li
                        a(href=`${prefixAdmin}/product-category`)
                            span Danh mục sản phẩm
                if(role.permissions.includes("products_view"))
                    li
                        a(href=`${prefixAdmin}/products`)
                            span Danh sách sản phẩm
                if(role.permissions.includes("roles_view"))
                    li
                        a(href=`${prefixAdmin}/roles`)
                            span Nhóm quyền
                if(role.permissions.includes("roles_permissions"))
                    li
                        a(href=`${prefixAdmin}/roles/permissions`)
                            span Phân quyền
                if(role.permissions.includes("accounts_view"))
                    li
                        a(href=`${prefixAdmin}/accounts`)
                            span Danh sách tài khoản
