include ../mixins/sub-menu.pug

header.logo
    a(href=`/`)
        img(src="/images/logo.png", alt="image")  
    nav
        ul.menu
            li
                a(href="#") Tin Tức
            li
                a(href="#") Về chúng tôi
                    ul.dropdown
                        li
                            a(href="#") Lịch sử ra đời
                        li
                            a(href="#") Độ uy tín
                        li
                            a(href="#") Chính sách bảo hành
                        li
                            a(href="#") Hướng dẫn mua hàng
            li
                a(href="#") Helps
            li(class="sub-menu")
                -const pathProduct = "/products";
                a(href=pathProduct) Giày
                    +sub-menu(layoutProductsCategory, pathProduct)


    //- img(src="https://www.freeiconspng.com/uploads/search-icon-png-21.png", alt="Tìm kiếm", id="openModal", style="cursor: pointer; width: 35px; height: 35px; margin-left: 10px;")

    .col-5 
        form(
            action="/search"
            method="GET"
        )
            div(class="form-group d-flex mb-0")
                input(
                    text="text"
                    placeholder="Nhập từ khóa..."
                    class="form-control"
                    name="keyword"
                    value=keyword
                )
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tìm

    .cart
        a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            img(src="/images/cart.png", alt="image")

