extends ../../layouts/default.pug

block main
    h1(class="mb-4") Phân Quyền

    if(records)
        div(class="text-right")
            button(
                type="submit"
                class="btn btn-primary mb-3"
                button-submit
            ) Cập nhật 

        table(
            class="table table-hover table-sm"
            table-permissions
        )
            thead 
                tr 
                    th Tính năng 
                    each record in records 
                        th(class="text-center") #{record.title}
            tbody
                tr(data-name="id")
                    td 
                    each record in records 
                        td(class="text-center")
                            input(type="text" value=record.id)
                tr
                    td(colspan="4")
                        b Danh mục quyền
                tr(data-name="products-category_view")
                    td Xem
                    each record in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products-category_create")
                    td Thêm mới
                    each record in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products-category_edit")
                    td Chỉnh sửa
                    each record in records 
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products-category_delete")
                    td Xóa
                    each record in records 
                        td(class="text-center")
                            input(type="checkbox")
    form(
        id="form-change-permissions"
        method="POST"
        action=`${prefixAdmin}/roles/permission?_metbod=PATCH`
    )
        div(class="form-group")
            input(
                type="text"
                class="form-control"
                name="permissions"
            )
    
    
    script(src="/admin/js/roles.js")
    //- else
        