extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row
            .col-12 
                +box-head("Danh sách sản phẩm nổi bật")

        //- .row 
        //-     each item in products
        //-         .col-4.mb-3 
        //-             .product-item 
        //-                 .inner-image
        //-                     img(src=item.thumbnail alt=item.title)
        //-                 .inner-content 
        //-                     h3.inner-title 
        //-                         a(href=`/products/${item.slug}`) #{item.title}
        //-                     .inner-price-new #{item.price}$
        //-                     .inner-discount -#{item.discountPercentage}%

        
        //- script.
        //-     const images = [
        //-         'https://cdn.authentic-shoes.com/wp-content/uploads/2024/01/BrandCampaign_LaunchBanners_Prim-1-2048x623.webp',
        //-         'https://cdn.authentic-shoes.com/wp-content/uploads/2024/05/AJ4MilitaryBlue_Primary_Desktop-2048x623.webp',
        //-         'https://bizweb.dktcdn.net/100/500/384/themes/928070/assets/collection_banner.jpg?1714744908576',
        //-         'https://cdn.authentic-shoes.com/wp-content/uploads/2024/03/onitsukatiger_hp_mexico66_cud_ss.webp',
        //-         'https://cdn.authentic-shoes.com/wp-content/uploads/2024/08/20240717083906-0.webp',
        //-         'https://cdn.authentic-shoes.com/wp-content/uploads/2023/09/image-54-2048x711-2.webp',
        //-         'https://cdn.authentic-shoes.com/wp-content/uploads/2024/01/AJ1_Yellow_Ochre_Release_DayPrim-2048x625.webp'
        //-     ];


        //- .carousel-container
        //-     button.prev2(onclick="prevSlide()") <
        //-     .carousel2
        //-         each img, index in images
        //-             .carousel-item2
        //-                 img(src=img, alt=`Image ${index + 1}`)
        //-     button.button2(onclick="nextSlide()") >

        
        //- .product-container
        //-     each item in products
        //-         article.product
        //-             img(src=item.thumbnail alt="image")
        //-             h3= item.title  
        //-             h3= item.price

        .product-container
            - let count = 0
            each item in products
                if count < 8
                    .product-card
                        img.product-image(src=item.thumbnail alt="image")
                        .product-info
                            h4.product-category Giày Sneaker
                            h3.product-title= item.title
                            p.product-price #{item.price.toLocaleString()} ₫
                            if item.discountPrice
                                p.discount-price #{item.discountPrice.toLocaleString()} ₫
                    - count++

        .picture
            img(src="https://cdn.authentic-shoes.com/wp-content/uploads/2024/07/663742.webp" alt="image")


        //- h2 Các sản phẩm đến từ thương hiệu Adidas
        //- p Mua sắm ngay giày Yeezy, samba, giày chạy Adidas cho mùa hè 2024!!!

        //- section.adidas-product
        //-     // Main featured image (you can dynamically pass this too if needed)
        //-     a(href="#")
        //-         img(src="https://brand.assets.adidas.com/image/upload/running_2024_tier1_sponsored_boston_marathon_reactive_marathon_winner_launch_plp_image_collection_1_d_d4c72a4410.jpg" alt="Adidas Product Image")

        //-     // Loop through products and render each
        //-     //- Loop through products and render each (limited to 6 products)
        //-     each product, index in products
        //-         if index < 6
        //-             article.adidas-details-line
        //-                 a(href=`/product/${product.slug}`)
        //-                     img(src=product.thumbnail alt=product.title)


        //- // Link to more products
        //- h3.see-more
        //-     a(href="Adidas-product.html") Xem thêm

        section.news
            a(href="C:\\Users\\PC\\Documents\\Sneakeraddictor\\SneakerNews\\News1.html")
                img(src="https://sneakernews.com/wp-content/uploads/2023/03/air-jordan-4-bred-reimagined-2024-info.jpg" alt="Jordan 4 2024")
                h3 Những phiên bản Jordan 4 cập bến năm 2024
            a(href="#")
                img(src="https://cdn.authentic-shoes.com/wp-content/uploads/2023/05/nike-offwhite-the-ten_5d63d4a3609d41cf83583704e90914a3_2048x2048.jpeg" alt="Nike Off-White Auction")
                h3 Bộ sưu tập Off-White™ x Nike “The Ten” sẽ được đem ra bán đấu giá
            a(href="#")
                img(src="https://cdn.authentic-shoes.com/wp-content/uploads/2023/05/c6_a1ng-hi_e1_bb_87u-th_e1_bb_9di-trang-_c4_91_e1_bb_8bch-th_e1_bb_a7_832caeebf19d4000bb82682de0c62905_2048x2048.png" alt="Adidas and Puma Feud")
                h3 Liệu 2 anh em nhà Adidas và Puma có đường ai nấy đi sau những biến động?
            