extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .picture
            img(src="https://cdn.authentic-shoes.com/wp-content/uploads/2024/07/663742.webp" alt="image")
        .row
            .col-12 
                +box-head(pageTitle)

        .product-container
            each item in products
                    .product-card
                        a(href=`products/detail/${item.slug}`)
                        img.product-image(src=item.thumbnail alt="image")
                        .product-info
                            h4.product-category Giày Sneaker
                            a(href=`products/detail/${item.slug}`)
                                h3.product-title= item.title
                            p.product-price #{item.price.toLocaleString()} ₫
                            if item.discountPrice
                                p.discount-price #{item.discountPrice.toLocaleString()} ₫

        
            